body{
	background-color: rgb(204, 204, 204);
}
h1,h2{
	text-align:center;
	color:black;
}
.songs-list{
	width:600px;
	background-color:white;
	border:3px solid black;
	
}
li{
	list-style-type: none;
	text-decoration-line: none;
}
.player_one,.player_two{
	background-color: rgb(255, 255, 255);
	padding:5px;
	border-radius:5px;

	
}
.player_two{
	width:600px;
}
.abc{
	height:400px;
	background-color:white;
}

